@model TrainingModule.Models.Manager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ManagerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
