@model IEnumerable<TrainingModule.Models.Employee>

@{
    ViewData["Title"] = "IndexEmployee";
    //Manager index view

}

@*<h1>Comments</h1>
@using (Html.BeginForm())
            {
                <p>
                    Category : @Html.DropDownList("Categroy", new SelectList(new List<string>() { "PowerPoint", "PDF" }), "Select One");
                    <input type="submit" value="Search" />
                </p>
            }*@
<table class="table">
    <thead>
        <tr>
            <th><p>Name</p></th>
            <th><p>Comment</p></th>
  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFirstName)
                    @Html.DisplayFor(modelItem => item.EmployeeLastName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>*@
                <td>
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">Details</a>
                  
                </td>
            </tr>
        }
    </tbody>
</table>
