@model TrainingModule.Models.PostUpdate

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostUpdate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Daily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Daily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weekly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weekly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostUpdateId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
