@model IEnumerable<TrainingModule.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Images</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <form method="post" enctype="multipart/form-data" asp-controller="Images" asp-action="Index">
        <span>Select File:</span>
        <input type="file" name="postedFiles" multiple />
        <input type="submit" value="Upload" />
        <br />
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
    </form>
</table>
<h4>Feature training video: hematology</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bNlnYvjhxAU" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Acute Meylonoma Leukemia</p>
<br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/IN2MtisTzC0" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Acute Lyphoblastic Leukemia</p>
<br />
@*<form id="" runat="server">
    <div>
        <embed src="~/files/CoagulationDrug1.pdf" typeof="applicatin/pdf"></embed>
    </div>
</form>*@
