@model IEnumerable<TrainingModule.Models.Update>

@{
    ViewData["Title"] = "Index";
}

<h1>Team Updates!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UpdateId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.UpdateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<br />
<h4>Hospital Newsletter: Capitial Medical Center</h4>
<iframe src="https://www.multicare.org/file_viewer.php?id=21272&title=CapMC+Newsletter+3+March+22+2021" style="height:300px;width:1000px" title="multicare"></iframe>
<br/>
<h4>Multicare</h4>
<iframe src="https://www.multicare.org/flu/" style="height:300px;width:1000px" title="multicare"></iframe>